{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{project}</title>   
    <style>
    	html, body {

		  	height: 100%
		}
		
		.title {
			margin-top: 50px;
			margin-left:20px;
		}

		.bar {
			fill: steelblue
		}

		.bar:hover {
  			fill: #003366
		}

		.svgContainer {
			margin-left: 80px;
			margin-right: 80px;
			margin-top:50px;
		}

		text {
			fill: "black";
			font: 12px sans-serif;
		}

		circle {
			  fill: rgb(31, 119, 180);
			  fill-opacity: .25;
			  stroke: rgb(31, 119, 180);
			  stroke-width: 1px;
		}

		.leaf circle {
			  fill: #ff7f0e;
			  fill-opacity: 1;
		}



    </style> 
</head>
<body> <!-- content -->
    <h1 class="title">In-Part University Reports</h1>        
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
    <script type="text/javascript" src="/static/viz.js"></script>

</body>
</html>
{% endblock content %}
